.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6178fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  background-color: #F2F1F9;

}

/* navbar */
.navbar {
  box-shadow: none !important;
}

.navbar .navbar-container {
  /* margin: 0; */
  /* min-height: fit-content; */
}

.search-button {
  box-shadow: none !important;

}

/* sidebar */
.sidebar {
  display: flex;
  flex-shrink: 0;
  /* max-width: 280px; */
}

.sidebar .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  position: static;
  border: none;

}

.sidebar .sidebar-container {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: solid 1px rgba(147, 151, 187, 0.25);
}

.sidebar .sidebar-container .sidebar-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
}

.sidebar .sidebar-container .sidebar-item {
  color: #9397BB; 
}

/* .sidebar .sidebar-container .sidebar-item:hover {
  color: #250C77
}

.sidebar .sidebar-container .sidebar-item.active {
  color: #250C77; 
} */


.sidebar-item .sidebar-item-text {
  margin: 0;
}

.sidebar-item .sidebar-item-text span {
  font-family: 'Lato', sans-serif;
  line-height: normal;
}

.sidebar-item .sidebar-item-image {
  min-width: 24px;
}

.sidebar-item:hover .sidebar-item-image img,
.sidebar-item.active .sidebar-item-image img {
  /* filter: brightness(0) invert(1); */
  fill: #250C77


}
.sidebar-item:hover .sidebar-item-image img,
.sidebar-item.active .sidebar-item-image img {
  fill: #250C77

}
.sidebar-item:hover .sidebar-item-image img,
.sidebar-item.active .sidebar-item-image img {
  fill: #250C77
}


.sidebar-item:hover .sidebar-item-text span,
.sidebar-item.active .sidebar-item-text span {
  color: #250C77; 
}

.pages{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 24px 24px;
}
.header-card {
  position: relative;
  width: 100%;
}
.company-details .sidebar{
  margin-top: 70px;
}
.company-profile-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
  width: 100% ;
}
.company-profile-header-card-text{
  position: absolute;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  color: #ffffff;
}
.rectangle-image {
  width: 100%;
  max-width: 100%;
  height: auto; 
  object-fit: contain; 
}

.mask-image,
.frame-image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%; 
  max-height: 100%;
}

.mask-image {
  z-index: 1;
}

.frame-image {
  z-index: 2;
}
/* companyprofile */
.company-profile-sidebar >div{
  position: static;
}
.company-card-button-text{
  width: 100%;
    display: "flex";
 align-items: "center";
  justify-content: "space-between",
}
.Dot{
  padding: 0;
  margin: 0;
}
/* hr systems */

.card-content> img{
  width: auto;
}
.hr-card-icon-container{
  position: relative;
  display: inline-block;
}
.user-icon-backgorund{
  height: auto;
}
.user-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; 
  height: auto; 
}
