
 .sidebar .sidebar-container .sidebar-item:hover {
  color: #250C77
}

.sidebar .sidebar-container .sidebar-item.active {
  color: #250C77; 
} 


.sidebar-item .sidebar-item-text {
  margin: 0;
}

.sidebar-item .sidebar-item-text span {
  font-family: 'Lato', sans-serif;
  line-height: normal;
}



.sidebar-item:hover .sidebar-item-image img,
.sidebar-item.active .sidebar-item-image img {
  fill: #250C77
}


.sidebar-item:hover .sidebar-item-text span,
.sidebar-item.active .sidebar-item-text span {
  color: #250C77; 
}
